* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: url(../images/background-2.jpg) no-repeat center center fixed;
  background-size: cover;
}

.hidden {
  visibility: hidden;
}


.contents, .stats, .container-around-cards, .card {
  display: flex;
}

.header {
  position: relative;
  height: 25vh;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 2px;
  z-index: -1;
}

.title {
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  color: white;
  font-weight: bold;
  margin-top: 8px;
  padding: 2px;
  border-radius: 8px;
}

.contents {
  font-size: 0;
  height: 75vh;
}

.stats {
  width: 20%;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px;
}

.stats-box {
  border: 2px solid white;
  background-color: orange;
  margin: 4px;
  padding: 12px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
  border-radius: 15px;

}

.container-around-cards {
  width: 80%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 8px;
}

.card {
  cursor: pointer;
  height: 30%;
  width: 14%;
  position: relative;
  margin: 0% 1%;
}

.back, .front {
  height: 100%;
  width: 100%;
}

.back, .front {
  position: absolute;
  background-size: cover;
  background-position: center;
  border: 2px solid white;
  border-radius: 15px;
}

.bugs-bunny, .bad-guy {
  transition-duration: 2000ms;
  position: absolute;
  height: 15vmin;
  width: 23vmin;
  background-size: contain;
  background-repeat: no-repeat;
}

.bad-guy {
  left: 0%;
  bottom: 0%;
  background-image: url(../images/elmer-fudd.png);
  z-index: -1;
}

.bugs-bunny {
  left: 40%;
  bottom: 0%;
}

.back {
  background-image: url(../images/bugs-bunny-cover-best.jpg);
}

.front {
  background-image: url(../images/html-logo.png);
}

.bugs-still {
  background-image: url(../images/bugs-bunny-first.png);
}

.bugs-running {
  background-image: url(../images/bugs-bunny-running.png);
}

.yosemite-sam {
  background-image: url(../images/yosemite-sam.png);
}

.carrots {
  background-image: url(../images/carrots.png);
}

.daffy-duck {
  background-image: url(../images/daffy-duck.png);
}

.tweety-bird {
  background-image: url(../images/tweety-bird.png);
}

.taz {
  background-image: url(../images/taz.png);
}

.alien {
  background-image: url(../images/alien.png);
}

.lola  {
  background-image: url(../images/lola.png);
}

.coyote {
  background-image: url(../images/coyote.png);
}

.fudd-happy {
  background-image: url(../images/fudd-happy.png);
}

.start-modal {
  background-image: url(../images/looney-tunes-logo.png);
  background-size: 25%;
  background-repeat: no-repeat;
  position: absolute;
  background-position: bottom;
  padding: 16px 35px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: .95;
  z-index: 1;
}

.start-modal-text {
  display: block;
  color: saddlebrown;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.5rem;
  font-weight: bold;
  height: 8vh;
  margin: 0;
  border-right: 2px solid rgba(255,255,255,0);
  white-space: nowrap;
  overflow: hidden;
}

/* TYPEWRITER ANIMATION: */

/* Animation */
.anim-typewriter1{
  animation: typewriter 5s steps(66) 1s 1 normal both,
             blinkTextCursor 500ms steps(66) 7.5 normal;
}

.anim-typewriter2{
  animation: typewriter 5s steps(66) 4s 1 normal both,
             blinkTextCursor 500ms steps(66) 4s 8 normal;
}

.anim-typewriter3{
  animation: typewriter 5s steps(66) 8s 1 normal both,
             blinkTextCursor 500ms steps(66) 8s infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: brown;}
  to{border-right-color: transparent;}
}

.win-modal, .lose-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  top: 29%;
  left: 32%;
  height: 31%;
  width: 35%;
  background-color: white;
  border: 9px solid saddlebrown;
  border-radius: 50px;
  opacity: .95;
  z-index: 1;
}

div.modal-text {
  color: saddlebrown;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  font-weight: bold;
}

.modal-text {
  text-align: center;
}

.reset-game-button, .try-again-button {
  font-size: 1.2rem;
  color: saddlebrown;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  border: 3px solid saddlebrown;
  border-radius: 8px;
  padding: 4px;
  cursor: pointer;
  margin-right: 11px;
}

@media only screen
  and (min-device-width: 200px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {

  /* .bugs-bunny, bugs-still, .bad-guy {
    display: none;
  } */

  .header {
  height: 25vh;
  padding-top: 2px;
}

.title {
  font-size: 3rem;
  margin: 30px;
  height: 4vh;
  width: 55vw;
}

  .contents {
    flex-wrap: wrap;
    font-size: 0;
    height: 75vh;
}

  #games-played, #attempts, #accuracy {
    height: 85%;
    width: 33%;
  }

  .stats {
    flex-wrap: wrap;
    height: 12%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 2px;
  }

  .stats-box {
    height: 48%;
    width: 95%;
    font-size: 13.5px;
    border-radius: 15px;
  }

  .container-around-cards {
    height: 88%;
    width: 100%;
  }

  .card {
    height: 15%;
    width: 25%;
  }

  .win-modal, .lose-modal {
    height: 20%;
    width: 50%;
    top: 40%;
    left: 25%;
  }

  .reset-game-button, .try-again-button {
    font-size: 2.2rem;
  }

  }
